md-toolbar
    div(class="md-toolbar-tools")
        md-truncate file1        
md-toolbar(class="md-hue-2")
    div(class="md-toolbar-tools")
        md-truncate
            md-button(class="md-raised" ng-click="copyCode()") Open
            md-button(class="md-raised" ng-click="copyCode()") Rename
            md-button(class="md-raised" ng-click="copyCode()") Copy
            md-button(class="md-raised" ng-click="deleteCode()") Delete
            md-button(class="md-raised" ng-click="discardCode()") Discard
            md-button(class="md-raised md-warn" ng-click="saveCode()") Save
md-content
    div(id="container" style="width:100%;height:640px")