doctype html
html(lang="en")
    head
        meta(name="viewport",content="width=device-width, initial-scale=1")
        // Angular Material style sheet
        link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css")
        link(rel="stylesheet", href="styles/site.css")
    body(ng-app="MyApp", ng-cloak)
        div(ng-controller="AppCtrl as ctrl", ng-cloak)
            md-toolbar(class="md-primary")
                div(class="md-toolbar-tools")
                    h2(class="md-flex") Development Environment
            md-content(class="md-padding")
                md-nav-bar(md-selected-nav-item="currentNavItem", nav-bar-aria-label="navigation links")
                    md-nav-item(md-nav-click="goto('codePage');", name="codePage") Code
                    md-nav-item(md-nav-click="goto('arenaPage');draw();", name="arenaPage") Arena
                div(class="ext-content")
                    div(ng-show="currentNavItem === 'codePage'")
                        include code
                    div(ng-show="currentNavItem === 'arenaPage'")
                        include arena
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js")
        script(src="components/monaco-editor/release/min/vs/loader.js")
        script(src="app/main.js")
